<html>

    <title>404</title>
    <%- include('./partials/head.ejs') %> 

    <body>

        <%- include('./partials/nav.ejs') %>

        <h1><%= HTTPstatus %></h1>
        <h2><%= error %></h2>
        <p>message: <%= message %></p>

    </body>

</html>